*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  margin-top: 65px;
  font-family: "Russo One", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: normal;
  color: #12100b;
}

p {
  margin: 0 0 20px;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: normal;
  color: #000;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  height: 90px;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 2;
  border-bottom: 4px solid #f3bf1b;
}
.header.fixed {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.header.fixed .nav__logo {
  width: 130px;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s linear;
}

.nav__link {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  transition: all 0.2s linear;
}
.nav__link.active {
  color: #f3bf1b;
}
.nav__link.active.nav__link:after {
  width: 100%;
}

.nav__link:hover {
  color: #f3bf1b;
}

.nav__link:after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #f3bf1b;
  transition: all 0.2s linear;
}
.nav__link:nth-child(5):after {
  content: none;
  display: none;
}

.nav__link:hover.nav__link:after {
  width: 100%;
}

.nav__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.burger {
  display: none;
  padding: 15px 0;
  width: 30px;
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 1;
}

.burger__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.2s linear;
}

.burger__item::before,
.burger__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;
  transition: all 0.2s linear;
}

.burger__item::before {
  top: -8px;
}
.burger__item::after {
  bottom: -8px;
}

.burger.active .burger__item {
  background: none;
}
.burger.active .burger__item::before {
  transform-origin: left top;
  transform: rotate(45deg) translateX(-2px);
}
.burger.active .burger__item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-3px);
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 5px 18px;
  border: 4px solid transparent;
  border-radius: 10px;
  background-color: #f3bf1b;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}


.btn--right {
  margin-left: auto;
  display: table;
}

.btn:hover {
  background-color: transparent;
  color: #f3bf1b;
  border: 4px solid #f3bf1b;
}

.btn:hover.btn--prev:before,
.btn:hover.btn--next:before {
  border-color: #f3bf1b;
}

.btn--prev,
.btn--next {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
}

.btn--prev {
  margin-right: 45px;
}
.btn--prev:before,
.btn--next:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 5px solid #000;
  border-radius: 6px;

  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    z-index: 2; */

  transform: rotate(45deg);

  transition: all 0.3s linear;
}
.btn--prev:before {
  border-top: 0;
  border-right: 0;
  margin-left: 10px;
}
.btn--next:before {
  border-bottom: 0;
  border-left: 0;
  margin-right: 10px;
}

/* .slider__nav > .btn--prev {
    position: absolute;
    top: -40px;
    left: -50px;
}
.slider__nav > .btn--next {
    position: absolute;
    top: -40px;
    right: -50px;
} */

/* INTRO */
.intro {
  margin-top: 90px;
  background: url(img/intro_bg.jpg) right no-repeat;
  background-size: cover;

  width: 100%;
  height: 631px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__title {
  margin-bottom: 47px;
  font-family: "Russo One", sans-serif;
  font-size: 44px;
  color: #fff;
  font-weight: normal;
  text-transform: capitalize;
}

.intro__logo {
  width: 130px;
  display: none;
}
.intro__logo-wrapper {
  padding-top: 4px;
  width: 70%;
  background-color: #000;
  border-bottom: 4px solid #000;

  position: relative;
  z-index: 1000;
}

/* servizi */
.servizi-slider {
  position: relative;
}

.servizi__title {
  margin-bottom: 30px;
}

.servizi-slider__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.servizi-slider__item.hidden {
  display: none;
}

.servisi__description {
  width: 55%;
  padding-left: 40px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.servizi__img {
  max-width: 45%;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;

}

.servizi__photo {
  display: block;
  width: 535px;
  height: 580px;
  object-fit: cover;
  max-width: 100%;
 
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  transition: 1.2s;
}

.servizi__photo:hover {
  transform: scale(1.3);
}

.servizi__name {
  font-family: "Rubik", sans-serif;
  margin-bottom: 28px;
  font-size: 25px;
  font-weight: 500;
}
.servizi__text {
  padding-left: 100px;
  font-weight: 300;
  color: #828282;
}

.slider__nav {
  margin-top: 30px;
  display: flex;
  margin-left: 407px;
}

/* TEAM */
.team__title {
  margin-bottom: 240px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__item {
  display: block;
  margin-bottom: 27px;
  width: 50%;
  max-width: 580px;
  padding: 40px 40px 75px 280px;
  border-radius: 15px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  background-color: #f3bf1b;

  position: relative;
  text-decoration: none;
  transition: all .3s linear;
}
.team__item:hover {
  background-color: #fff;
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.25);
}
.team__item:hover .team_name {
  color: #f3bf1b;
}
.team__item:hover .team_description {
  color: #828282;
}

.team_name {
  padding-bottom: 50px;
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  color: #828282;

  position: absolute;
  top: -50px;
  z-index: 2;
}

.team_proffesion {
  margin-bottom: 23px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
}

.team_description {
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
}

.team__photo {
  position: absolute;
  bottom: 0;
  left: -10px;
  z-index: 2;

  display: block;
  max-width: 100%;
  height: auto;
  max-height: 500px;
}


/* ESCLUSIVO */
.esclusivo {
  overflow-x: hidden;
}
.esclusivo__inner {
  margin: 28px 100px 30px 102px;
  padding: 65px 100px;
  display: flex;
  justify-content: space-between;

  border-radius: 15px;
  box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 3;
}

.esclusivo__item {
  width: 49%;
}
.esclusivo__item:first-child {
  margin-top: 5px;
}
.esclusivo__item:first-child {
  margin-right: 15px;
}
.esclusivo__item-title {
  padding: 4px 6px;
  color: #F3BF1B;
  background-color: #000;
  font-weight: 500;
  text-align: center;
}
.esclusivo__item-text {
  margin-top: 37px;
  font-weight: 300;
  color: #828282;
}
.esclusivo__item-text > p {
  margin-bottom: 28px;
}

.velo {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);

  display: block;
  width: 350px;
  max-width: 100%;
  height: auto;
}
.velo__left {
  left: -350px;
}
.velo__right {
  right: -350px;
}
.velo__number {
  display: block;
  color: #F3BF1B;
  font-weight: 500;
  transition: all .2s linear;
}
.velo__number:hover {
  color: #000;
}

.esclusivo-img {
  width: 380px;
  border-radius: 15px;
  box-shadow: 2px 5px 6px 0 rgba(139, 109, 0, 0.19);
  object-fit: cover;
}
.esclusivo-img-wrapper.top {
  margin-bottom: 20px;
}

.esclusivo-img.top {
  height: 353px;
  object-position: 85% 50%;
}
.esclusivo-img.bottom {
  height: 200px;
  object-position: 50% 50%;
}
.esclusivo-img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* STORIA */
.storia {
  position: relative;
  height: 670px;
}
.storia__title {
  margin-bottom: 28px;
}

.storia__wrapper {
  width: 100%;
  height: 490px;
  background: url(/img/storia_bg.jpg) center no-repeat;
  background-size: cover;

 /*  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%); */
}

.storia__inner {
  width: 90%;
  max-width: 1180px;
  padding: 55px 100px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 0 0 31px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

  position: absolute;
  left: 50%;
  bottom: -125px;
  transform: translateX(-50%);
}
.storia__item {
  width: 50%;
}
.storia__item:first-child {
  padding-right: 9px;
}
.storia__item:nth-child(2) {
  padding-top: 10px;
  padding-left: 9px;
}

.storia__description-title {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  color: #000;
  background-color: #f3bf1b;
}

.storia__description-text {
  font-size: 24px;
  font-weight: 300;
  color: #828282;
  line-height: 1.2;
}

/* GALERIA */
.galeria__title {
  margin-bottom: 28px;
  margin-top: 190px;
}

.galeria__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  transition: all .8s ease-in-out;
}

.galeria__inner.open {
  height: 3420px;
}


.galeria__item {
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  order: 1;
}

.galeria__img {
  display: block;
  max-width: 100%;
  height: 420px;
  object-fit: cover;
}

.galeria__img.small {
  width: 280px;
}
.galeria__img.large {
  width: 580px;
}

.galeria__item.fifth .galeria__img {
  object-position: 50% 28%;
}

.geleria__btn {
  display: none;
}


/* REVIEWS */
.reviews {
  position: relative;
}
.reviews > .container {
  padding: 0 14px;
}
.reviews__item:nth-child(4) {
  margin-left: 9px;
}
.reviews__title {
  margin-bottom: 28px;
}
.reviews__rating {
  margin-bottom: 8px;
}

.reviews__inner {
  display: flex;
  position: relative;
  height: 350px;
  overflow: hidden;
  width: 1182px;
  max-width: 100%;
}

.reviews__carousel {
  position: absolute;
  top: 40px;
  left: 0;
  width: 2391px;
  height: 300px;
  display: flex;

  transition: all 0.6s ease-in-out;
}

.reviews__item {
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);

  width: 280px;
}
.reviews__item:first-child {
  margin-left: 3px;
}

.reviews__item-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #f3bf1b;
  position: relative;
}

.reviewv__photo {
  height: 100px;
  width: 81px;
  border-radius: 15px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  display: block;

  position: absolute;
  left: 20px;
  bottom: 15px;
  z-index: 3;
}

.reviews__info {
  padding: 20px 20px 15px 0;
  text-align: right;
  display: block;
  color: #fff;
}

.reviews__name {
  font-size: 13px;
  font-weight: 300;
  
  position: absolute;
  bottom: 30px;
}

.reviews__date {
  font-size: 13px;
}

.reviews__item-text {
  padding:0 20px;
}

.reviews__item-title {
  margin: 8px 0;
  font-size: 23px;
  font-weight: 500;
  line-height: normal;
  color: #000000;
}

.reviews__item-description {
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  color: #828282;
}

.reviews__controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* CONTACT */
.contact {
  position: relative;
}
.contact::after {
  content: "";
  display: block;
  height: 59px;
  width: 60%;
  
  background-color: #F3BF1B;
 
  position: absolute;
  top: 110px;
  left: 0;
  z-index: -1;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__info {
  padding-left: 100px;
}

.contact__tel {
  margin-bottom: 12px;
}

.contact__title {
  margin-bottom: 38px;
}

.contact__tel-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  color: #828282;
}

.contact__number {
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  text-decoration: none;
  user-select: none;

  /* position: relative; */
  display: flex;
  align-items: center;
}

.contact__number span {
  margin-right: 15px;
}

.contact__adress {
  margin-bottom: 38px;
}

.contact__adress-title,
.contact__social-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
}

.contact__adress-name {
  font-size: 20px;
  line-height: 1.2;
  color: #828282;
}

.contact__social-title {
  margin-bottom: 10px;
}

.social__nav {
  display: flex;
  align-items: center;
}

.social__icon {
  margin-right: 50px;
  width: 48px;
  height: 48px;
  fill: #f3bf1b;
  text-decoration: none;
}
.social__icon.youtube {
  margin-right: 0;
  width: 58px;
  height: 58px;
}

.call {
  fill: #fff;
  width: 50px;
  height: 50px;
  display: block;
  min-width: 40px;
}

.map {
  max-width: 100%;
  width: 580px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);

  position: relative;
  z-index: 10;
}

/* FOOTER */
.footer {
  margin-top: -265px;
  background-color: #000000;

  position: relative;
  z-index: 9;
}

.footer__ineer {
  padding: 168px 75px 120px 0;
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer__link {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  color: #f3bf1b;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s linear;
}

.footer__link:hover {
  color: #fff;
}

.footer-orange-row {
  height: 48px;
  background-color: #f3bf1b;
}

/* ORARIO */
.orario {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* overflow: hidden; */

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: grayscale(0.75) blur(4px);
}
.orario.show {
  display: block;
}

.orario__wrapper {
  width: 580px;
  height: 465px;
  border: 5px solid #f2c94c;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate3d(-50%, -50%, 0);
}

.orario__content {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate3d(-50%, -50%, 0);
}

.orario__content-flex {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.orario__item:first-child {
  margin-right: 55px;
}

.orario__info {
  margin-bottom: 22px;
}
.orario__day {
  margin-bottom: 12px;
  font-family: "Rubik", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
}
.orario__day span {
  padding: 5px 12px;
  background-color: #f3bf1b;
  border-radius: 24.8px;
}
.orario__day.rest span {
  background-color: #d6d6d6;
}

.orario__time {
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #000000;
}

.close__modal {
  width: 35px;
  height: 35px;
  fill: #f3bf1b;
  cursor: pointer;

  transition: all 0.2s linear;
}

.orario__img {
  height: auto;
  position: absolute;
  z-index: 1000;
}
.orario__img.one {
    width: 160px;
    top: -52px;
    left: -33px;
}
.orario__img.two {
  width: 250px;
  bottom: -18px;
  right: -61px;
}
.orario__img.three {
  width: 143px;
  bottom: -20px;
  left: -56px;
}


.close__modal:hover {
  fill: #000;
}
.orario__nav {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1000;
}
/* MEDIA */


@media (max-width: 1199.98px) {
  h2 {
    font-size: 30px;
  }
  .btn--right {
    margin: 0 auto;
  }
  .nav__link {
    font-size: 18px;
  }

  .servizi-slider {
    width: 588px;
    max-width: 100%;
    margin: 0 auto;
  }
  .servizi__img {
    max-width: 100%;
  }
  .servisi__description {
    width: 530px;
    height: 200px;
    max-width: 100%;
    padding-left: 0;
    padding-top: 0;
  }
  .servizi__name {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 23px;
  }
  .servizi__text {
    font-size: 20px;
    padding-left: 0;
    text-align: left;
  }
  .slider__nav {
    margin-top: 0;
    margin-left: 0;
    justify-content: center;
  }

  .velo {
    display: none;
  }
  .esclusivo__inner {
    margin: 28px 80px 30px 80px;
    padding: 65px 35px;
  }
  .esclusivo-img-wrapper {
    text-align: right;
  }

  .reviews__inner {
    width: 1003px;
    margin: 0 auto;
  }
  .reviews > .container {
    padding: 0 15px;
  }
  .reviews__item:nth-child(4) {
    margin-left: 10px;
  }

  .team__item {
    margin: 0 auto;
    width: 100%;
    max-width: 585px;
  }
  .team__item:nth-child(1) {
    margin-bottom: 250px;
  }
  .team__item:nth-child(2) {
    margin-bottom: 50px;
  }

  .contact__info {
    padding-left: 0;
    margin: 0 auto 50px;
  }
  .contact__title {
    margin-bottom: 38px;
    margin-top: 100px;
  }
  .contact__map {
    margin: 0 auto;
  }

  .reviews__controls {
    margin-top: 20px;
  }

  .storia__description-text {
    font-size: 21px;
  }
  .storia__item:nth-child(2) {
    padding-top: 16px;
  }


  .galeria__item.fourth {
    order: 2;
  }
  .galeria__inner {
    margin: 0 auto;
    width: 580px;
    max-width: 100%;
  }
  


  .contact::after {
    width: 100%;
    height: 51px;
    top: 108px;
  }
  .contact__info {
    width: 51%;
    margin-bottom: 30px;
  }
  .contact__adress {
    margin-bottom: 15px;
  }
  .contact__number {
    font-size: 43px;
  }
  
  .social__icon {
    margin-right: 30px;
    width: 40px;
    height: 40px;
  }
  .social__icon.youtube {
    width: 53px;
    height: 53px;
}
  .call {
    margin-right: 0;
  }

  .footer {
    margin-top: -115px;
  }
  .footer__ineer {
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 60px;
  }
}

@media (max-width: 991.98px) {
  .header {
    height: 50px;
    background-color: #000;
  }
  .header.fixed {
    height: 50px;
  }
  .header > .container {
    padding: 0;
  }
  .nav {
    flex-direction: column;
    justify-content: start;
    align-items: start;

    padding: 150px 40px 0;
    opacity: 0;

    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    background-color: rgba(243, 191, 27, 1);

    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .intro {
    margin-top: 0px;
    height: 100vh;
    background-position-y: 50px;

    display: block;
    text-align: center;
  }
  .intro__inner {
    position: absolute;
    width: 100%;
    bottom: 10vh;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }
  .intro__title {
    margin-bottom: 30px;
  }

  .btn {
    margin: 0 auto;
  }
  .btn:hover {
    border: 4px solid transparent;
    background-color: #f3bf1b;
    color: #000;
  }
  .btn:hover.btn--prev:before,
  .btn:hover.btn--next:before {
    border-color: #000;
}
  .btn.slider {
    margin: 0;
  }
  .btn--prev.slider {
    margin-right: 30px;
  }


  .esclusivo__inner {
    margin: 28px auto;
    padding: 35px;
    flex-wrap: wrap;
    max-width: 650px;
  }
  .esclusivo__item {
    width: 100%;
  }
  .esclusivo__item:first-child {
    margin-right: 0;
    margin-bottom: 20px;
}
  .esclusivo-img-wrapper {
    text-align: center;
  }
  .esclusivo-img {
    width: 100%;
  }
  .esclusivo__item-text > p {
    margin-bottom: 15px;
}


  .reviews__inner {
    width: 702px;
  }

  .reviews__btn.btn--prev {
    margin-right: 30px;
  }
  .reviews__btn {
    margin: 0;
  }

  .nav__link {
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .nav__link.active {
    color: #fff;
  }
  .nav__link:hover {
    color: #fff;
  }
  .nav__link:after {
    background-color: #fff;
  }
  .nav__logo {
    display: none;
  }
  .burger {
    display: block;
  }

  .intro__logo {
    display: block;
    margin-left: 25px;
  }

  .storia {
    height: 550px;
  }
  .storia__wrapper {
    height: 370px;
    top: 50px;
  }
  .storia__inner {
    padding: 45px 25px;
  }
  .storia__description-title {
    font-size: 22px;
  }
  .storia__description-text {
    font-size: 18px;
  }
 

 
}

@media (max-width: 767.98px) {
  h2 {
    margin-top: 50px;
    font-size: 28px;
  }

  .team__item {
    padding: 20px 15px 25px 270px;
    min-height: 250px;
  }
  .team_proffesion {
    font-size: 23px;
  }
  .team_description {
    font-size: 22px;
  }
  .team__photo {
    max-height: 450px;
  }

  .storia__inner {
    padding: 35px 15px;
  }

  .contact::after {
    height: 47px;
  }
  .contact__info {
    width: 100%;
  }
  .contact__inner {
    width: 100%;
  }

  .reviews__inner {
    width: 402px;
  }
}

@media (max-width: 575.98px) {
  .container {
    padding: 0px 10px;
  }
  .reviews > .container {
    padding: 0px;
    padding-left: 5px;
  }

  .intro {
    background-position-x: ;
  }

  .intro__title {
    font-size: 39px;
  }

  .servizi__name {
    margin-top: 20px;
    font-size: 21px;
    font-weight: normal;
  }
  .servizi__text {
    font-size: 19px;
  }
  .servizi__photo {
    height: 450px;
  }
 

  .team__title {
    margin-top: 50px;
    margin-bottom: 235px;
  }
  .team__item {
    padding: 205px 0px 40px 0px;
    text-align: center;
  }
  
  .team_description {
    padding: 0 10px 0 10px;
    font-size: 17px;
    background-color: #fff;
    text-align: left;
    min-height: 67px;
  }
  .team__photo {
    max-height: 410px;
    left: 50%;
    bottom: 146px;
    transform: translateX(-50%);
  }
  .team_proffesion {
    background-color: #fff;
    padding: 12px 0 5px 10px;
    margin-bottom: 0;
    font-size: 19px;
    text-align: left;
  }
  .team_name {
    width: 100%;
    color: #000;
    font-size: 22px;
    top: 318px;
    left: 50%;
    transform: translateX(-50%);
  }

  .esclusivo > .container {
    padding: 0;
  }
  .esclusivo__title {
    margin-left: 10px;
  }
  .esclusivo__item-text {
    font-size: 18px;
    margin-top: 16px;
  }
  .esclusivo__item-title {
    font-size: 19px;
  }
  .esclusivo__inner {
    padding: 22px 15px 0;
    margin: 28px 0 0 0;
  }

  .storia__inner {
    width: 100%;
    padding: 15px;
    border-radius: 0px;
    bottom: -170px;
  }
  .storia__wrapper{
    height: 310px;
  }

  .galeria__inner {
    width: 100%;
  }
  .galeria__img {
    height: 550px;
  }
  .galeria__img.small {
    width: 100%;
  }
  .galeria__img.large {
    width: 100%;
  }
  .galeria__inner.close {
    height: 1135px;
  }
  .geleria__btn {
    display: table;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    max-width: 100%;
  }
  .galeria__title {
    margin-top: 215px;
  }

  .contact__title {
    margin-top: 50px;
  }

  .map {
    border-radius: 0;
  }

  .footer__ineer {
    padding-bottom: 35px;
    padding-top: 140px;
    text-align: center;
  }
  .footer__nav-col:first-child {
    margin-bottom: 20px;
    width: 100%;
  }
  .footer__nav-col {
    width: 50%;
  }
  .footer__logo {
    margin: 0 auto;
    max-width: 167px;
    height: auto;
  }
  .footer__link {
    margin-bottom: 10px;
  }

  .orario__wrapper {
    width: 310px;
    height: 485px;
  }
  .orario__nav {
    top: 15px;
    right: 15px;
  }
  .close__modal {
    width: 25px;
    height: 25px;
  }
  .orario__content-flex {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .orario__day {
    font-size: 16px;
  }
  .orario__time {
    font-size: 13px;
  }
  
.orario__img.one {
  width: 140px;
  top: -42px;
  left: -22px;
}
.orario__img.two {
    width: 212px;
    bottom: 120px;
    right: -83px;
    transform: rotate(143deg);
}
.orario__img.three {
  width: 123px;
  bottom: -20px;
  left: -38px;
}
.orario__item:first-child {
    margin-right: 0;
}
.orario__item {
    width: 63%;
}
}

@media (max-width: 415px) {
  .servizi__name {
    font-size: 21px;
  }
  .servizi__text {
    font-size: 17px;
  }

  .esclusivo__item-text {
    margin-top: 25px;
    font-size: 17px;
  }
  .esclusivo__inner {
    padding: 25px 15px;
  }
  .esclusivo__item-title {
    font-size: 19px;
  }

  .storia__item {
    width: 100%;
}
  .storia__description-title {
    font-size: 20px;
  }
  .storia__description-text {
    font-size: 17px;
  }
  .storia__item:nth-child(2) {
    padding-top: 0px;
    padding-left: 0px;
}
.storia__description-text > p {
  margin-bottom: 12px;
}

.storia__description-text > .second-p {
  margin-bottom: 0px;
}

  .contact__number span {
    margin-right: 5px;
  }
}



.fade-in {
  -webkit-animation: fade-in .9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in .9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


.fade-in-modal {
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slit-in-vertical {
	        animation: slit-in-vertical .6s ease-out both;
}

@keyframes slit-in-vertical {
  0% {
            transform:  rotateY(120deg);
            opacity: 0.3;
  }

  100% {
            transform:  rotateY(0);
  }
}
